@font-face {
    font-family: AmazonEmber_Rg;
    src: url(AmazonEmber_Rg.ttf);
}
body {
    margin: 0px;
    font-family: AmazonEmber_Rg;
}
.topnavbar {
    display: flex;
    background-color: #222f3e;
    height: 120px;
    margin: 0px;
    align-items: center;
}
#logo {
    height: 65px;
    margin-left: 70px;
}
.bottomnavbar {
    display: flex;
    background-color: #354758;
    height: 65px;
    align-items: center;
}
.navbartext {
    margin-left: 70px;
}