@font-face {
    font-family: AmazonEmber_Rg;
    src: url(AmazonEmber_Rg.ttf);
    font-family: AmazonEmber_Bd;
    src: url(AmazonEmber_Bd.ttf);
    font-family: AmazonEmber_Lt;
    src: url(AmazonEmber_Lt.ttf);
}
body {
    background-color: #eaeded;
    font-family: AmazonEmber_Rg;
    color: white;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.topnavbar {
    display: flex;
    background-color: #222f3e;
    height: 60px;
    width: auto;
    align-items: center;
}
#logo {
    height: 35px;
    width: auto;
    margin-left: 35px;
}
.bottomnavbar {
    display: flex;
    background-color: #354758;
    height: 32px;
    align-items: center;
}
.navbartext {
    color: white;
    text-align: left;
    margin-left: 35px;
    font-family: url(AmazonEmber_Rg.ttf)
}
.item {
    margin-left: 0px;
    margin-right: 20px;
}
#orangebar {
    display: flex;
    height: 35px;
    background-color: #f56600;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
main {
    margin: 30px 30px 30px 30px;
}
#giftguidebanner {
    height: 196px;
    width: auto;
}
.slideshow {
    display: flex;
    width: inherit;
    justify-items: center;
}
.pic {
    height: 380px;
}