@font-face {
    font-family: AmazonEmber_Rg;
    src: url(AmazonEmber_Rg.ttf);
}
body {
    background-color: #eaeded;
    font-family: AmazonEmber_Rg;
    color: white;
    width: 100%;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.topnavbar {
    display: flex;
    background-color: #222f3e;
    height: 60px;
    width: auto;
    align-items: center;
}
#logo {
    height: 35px;
    width: auto;
    margin-left: 35px;
}
.bottomnavbar {
    display: flex;
    background-color: #354758;
    height: 32px;
    align-items: center;
}
.navbartext {
    color: white;
    text-align: left;
    margin-left: 35px;
}
.item {
    margin-right: 20px;
}
.imagebartext {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-top: 35px;
    margin-bottom: 0px;
    background-color: white;
    align-items: center;
    padding-left: 20px;
}
#orangebar {
    display: block;
    height: 35px;
    background-color: #f56600;
    margin-bottom: 30px;
    line-height: 35px;
}
main {
    margin: 30px 30px 30px 30px;
}
#giftguidebanner {
    height: 195px;
    width: auto;
    position: relative;
    text-align: center;
    color: white;
    background-image: url(img/bg-image.png);
    background-position: top; 
}
h1 {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
  }
h3 {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
.container {
    display: flex;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    margin: 0px;
    padding: 0px;
    height: 380px;
    -webkit-box-shadow: 9px 11px 15px -3px rgba(0,0,0,0.44); 
    box-shadow: 9px 11px 15px -3px rgba(0,0,0,0.44);
}
.cards-img{
    width: 300px;
    height: 380px;
    border-radius: 10px;
    margin: 0px;
}
.fullimage {
    margin-top: 30px;
}
.topfooter {
    color: white;
    background-color: #354758;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.bottomfooter {
    display: flex;
    background-color: #222f3e;
    height: 190px;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
#logofooter {
    height: 50px;
}
.blackspan {
    color: black; 
    margin-right: 20px; 
    font-size: 1.5em;
}
.spanlink {
    display: inline;
    color: #00566d;
}